.container {
    background-color: bisque;
    width: 89%;
    padding: 12px 7px 20px 11px;
    margin-top: 29px;

    @media (min-width: 768px) {
        margin-top: 104px;
    }

    @media (min-width: 1440px) {
        width: 70%;
        padding: 25px 7px 23px 11px;
        margin-top: 104px;
    }
}

.heading {
    font-weight: 600;
    margin-bottom: 12px;
}

.text-box {
    width: 70%;
}

.btn-add {
    width: 21%;

    @media (min-width: 768px) {
        width: 10%;
    }

    @media (min-width: 1024px) {
        width: 8%;
    }

    @media (min-width: 1440px) {
        width: 7%;
    }
}

.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    width: 79%;
    margin-left: 26px;
    overflow-x: auto;
    white-space: nowrap;

    @media (min-width: 768px) {
        margin-bottom: 17px;
        margin-left: 63px;
    }

    @media (min-width: 1024px) {
        width: 55%;
        margin-left: 201px;
    }

    @media (min-width: 1440px) {
        width: 57%;
        margin-left: 214px;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &:hover {
        background-color: aquamarine;
    }
}


.task-name {
    margin: 0;
    overflow:scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.complete-task {
    text-decoration: line-through;
    color: gray;
}

.task-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.task-icon {
    width: 20px;
    height: 20px;
}

.alert {
    position: fixed; 
    top: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    background-color: #f44336; 
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    display: none; 
}


.buttons {
    flex-wrap: wrap;
    gap: 21px;
    column-gap: 246px;

    @media (min-width: 768px) {
        column-gap: 30px;
    }
}

.footer-button.active {
    background-color: #007bff;
    color: white;
}